<h1 class="mb-4">All Lists</h1>

<div class="list-group mb-3">
  <% @lists.each do |list| %>
    <%= link_to list.name, list_path(list), class: 'list-group-item list-group-item-action' %>
  <% end %>
</div>

<div class="text-end">
  <%= link_to 'Create New List', new_list_path, class: 'btn btn-primary' %>
</div>
